@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

.title-cart{
    font-family: 'Russo One', sans-serif;
}

.card-text-contain{
   padding: 10px;
}
.cover-pic{
    width: 95%;
}
.home-card-title{
    text-decoration: underline;
    font-family: 'Goblin One', cursive;
    color: rgb(228, 167, 11);
}
.details-btn{
    color: aliceblue;
    text-decoration: none;
}
.home-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

@media (max-width: 1000px) and (min-width: 710px) {
    .home-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 100%;
    }
    
}
@media (max-width: 710px) and (min-width: 200px) {
    .home-card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
    }
}